* {
    box-sizing: border-box;
    font-family: Calibri;
}

body {
    width: 1000px;
    margin: auto;
    padding-top: 10px;
}

.nav {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 4fr repeat(5, 1fr);
    align-items: center;
    margin: auto;
    font-weight: bold;
    font-size: 15pt;
    /* padding-bottom: 100px; */
}

.upper-btn {
    display:grid;
    grid-template-columns: 170px 170px;
    padding-bottom: 20px;
}

.nev {
    font-size: larger;
}

.main_blokk {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    align-items: center;
}

.main_blokk h1{
    font-weight: 800;
    font-size: 3rem;
}

.fuleskep img{
    width: 400px;
    height: 400px;
    margin: auto;
}

.btn {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    width: 150px;
    text-align: center;
    padding: 8px 12px;
    border-radius: 30px;
    border: 2px solid black;
    font-weight: 700;
    text-decoration: none;
    font-size: 15pt;
}

.btn:hover {
    background-color: black;
    color: white;
}

.categ {
    margin: auto;
    text-align: center;
}

.categ h2, .categ p {
    line-height: 50%;
}

.categ h2 {
    padding-top: 50px;
}

.categ p{
    padding-bottom: 50px;
}

.categ-gallery {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.products {
    width: 1000px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    margin: auto;
}

.products img{
    height: 250px;
    margin: 10px;
    align-items: center;
    border: .5px solid lightgrey;
    border-radius: 5px;
}

.hp, .tv, .rc, .mi{
    display: block;
    
    height: 125px;
    width: 225px;
    object-fit:fill;
    background-size: cover;
    align-items: center;
    margin: auto;
    border: 2px solid lightcoral;
    border-radius: 10px;
    text-align:center;
    margin: 10px;
}

.categ-gallery img {
    height: 80px;
    }

.categ-gallery p{
    font-weight: bold;
}

.prod-szov {
    text-align: center;
    line-height: 50%;
}

.prod-szov h2{
    padding-top: 70px;
}

.prod-szov p {
padding-bottom: 50px;
}

.load {
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.dot1, .dot2, .dot3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
  }

  .dot1 {
    margin-right: 5px;
    background-color: orangered;
  }

  .dot2 {
    margin-right: 5px;
    background-color: cyan;
  }
  .dot3 {
    margin-right: 5px;
    background-color: purple;
  }

  .avail {
    align-items: center;
  }


  footer {
    margin-top: 20px;
    background: linear-gradient(to bottom right, purple, blue);
    max-height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding-top: 20px;
}

.footkep{
    padding-left: 300px;
}

.footkep img {
    max-width: 160px;
}

  .shop-btn {
    border: 2px solid white;
    color: white;
    margin-bottom: 20px;
    background-color: transparent;
  }

.termeknev {
    font-weight: bold;
    line-height: 50%;
}

@media (max-width: 650px) {
    .nav, .main_blokk, .categ-gallery, .products{
        grid-template-columns: 1fr;
        padding: 30px;
  }
}